/* Info Main Container :  */
.infoPokMainMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(/imgs/pokInfoPage/abc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.infoPokMainContainer {
  background-color: rgb(74 74 74 / 74%);
  color: bisque;
  width: 35%;
}

/* Navbar : */
.infoPokNavbar {
  background-color: #b34b2f;
  color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.infoPokNavbarHeading {
}
.infoPokNavbarClose {
  padding: 5px 10px;
  height: fit-content;
  cursor: pointer;
}

/* Body :  */
.infoPokBody {
  display: flex;
  align-items: center;
  height: 40%;
}

.infoPokBodyLeft {
  width: 50%;
}

.infoPokBodyRight {
  width: 60%;
}

/* infoPokBodyLeft :  */
.infoPokBodyLeftImg {
  width: 90%;
  margin: 10px;
}

/* infoPokBodyRight :  */
.infoPokBodyRightBox {
  font-size: 12px;
}

.infoPokBodyRightBoxNumber {
}

.infoPokBodyRightBoxName {
}

.infoPokBodyRightBoxHeight {
}

.infoPokBodyRightBoxWeight {
}

/* Footer : */
.infoPokFooter {
  margin: 10px;
}

.infoPokFooterAbilityDiv {
}

.infoPokFooterTypesDiv {
}

.infoPokFooterWeaknessDiv {
}

/* infoPokFooterAbilityDiv :  */
.infoPokFooterAbilityDivHeading {
  margin-bottom: 10px;
}

.infoPokFooterAbilityDivContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.infoPokFooterAbilityDivContent p {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
}

/* infoPokFooterTypesDiv */
.infoPokFooterTypesDivHeading {
  margin-bottom: 10px;
}

.infoPokFooterTypesDivContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.infoPokFooterTypesDivContent p {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
}

/* infoPokFooterWeaknessDiv :  */
.infoPokFooterWeaknessDivHeading {
  margin-bottom: 10px;
}

.infoPokFooterWeaknessDivContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.infoPokFooterWeaknessDivContent p {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
}
